[Desktop Entry]
Name=flymoon
Exec=/usr/local/bin/flymoon
Icon=flymoon.png
Terminal=false
Type=Application
Categories=Utility;Development;
StartupWMClass=flymoon
Comment=Description:This is a large language model chat client built with Rust and Slint GUI, compatible with OpenAI's API.
